@import '../config/variables';

//body
body {
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;
    font-family: 'Rubik', sans-serif;
    letter-spacing: -0.02em;

    //centraliza a div no meio
    display: grid;
    place-items: center; //OU place-content

}